@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    background: url(https://s3.envato.com/files/382231202/light.jpg);
    padding: 100px 0;
}
h3{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: green;
}

.container{
   width: 800px;
   min-height: 800px;
   border: 10px solid white;
   margin: 0 auto; /*Виравниваем по центру контейнер */
   background: white;
}
.header{
   
    display: flex;
    height: 150px;
    
}
.title-block{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    font-size: 30px;
    background: url(https://images.unsplash.com/photo-1453791052107-5c843da62d97?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fGZvcmVzdHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60)
    no-repeat center center / cover;
    color: white;
    margin-right: 10px;
}

.title-block::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    opacity: 0.5;
}
.title{
    position: relative;
    z-index: 1;
}
.userpicture{
    display: flex;
    width: 20%;
    height: 100%;
    background: url(images/myphoto.jpg) no-repeat center center / cover;
}
.nav ul{
    display: flex;
    background:rgb(219, 210, 210);
    margin: 10px 0;
}

.nav li a {
    display: flex;
    padding: 20px;
    text-decoration: 0;
    color: rgb(83, 80, 80);
    font-weight: bold;
    border-right: 1px solid rgb(202, 200, 200);
    transition : background 0.3s ease;
}

.nav li a:hover{
    background: rgb(187, 181, 181);
}

.content--wrapper{
    display: flex;
}

.content{
    width: 100%;
    padding: 20px; 
}
.photo{
    height: 100px;
    width: 200px;
    background: url(images1/photo1.jpg) no-repeat center center / cover;

}
